---
layout: layouts/base.njk
permalink: /bn/locations/index.html
pageLang: bn
title: আমাদের কর্মক্ষেত্রগুলি
description: শিলিগুড়ি, দার্জিলিং, কালিম্পং, গ্যাংটক, জলপাইগুড়ি, আলিপুরদুয়ার এবং ডুয়ার্স অঞ্চল।
---

{% set enUrl = "/pages/locations/" %}
{% include "partials/translation-pending-banner.njk" %}

<section class="container">
  <h1>{{ title }}</h1>
  <ul class="chips">
    {%- for loc in locations.catalog -%}
    <li class="chip"><a href="/locations/{{ loc.slug }}/">{{ loc.name }}</a></li>
    {%- endfor -%}
  </ul>
</section>
