---
pagination:
  data: locations.catalog
  size: 1
  alias: location
permalink: "/locations/{{ location.slug }}/"
layout: layouts/location.njk
eleventyComputed:
  title: "Security & Manpower Services in {{ location.name }} | {{ location.state }}"
  description: "PSARA-licensed security guards, armed protection and housekeeping in {{ location.name }}, {{ location.state }}. {{ location.shortDescription }}"
---
{# Breadcrumbs computed in locations.11tydata.js to work correctly with pagination #}
