<div class="translation-pending">
  <p><strong>This page is awaiting translation.</strong> The Bengali / Hindi version of our website is being prepared by a professional translator. In the meantime, please read in <a href="{{ enUrl or '/' }}">English</a> or call us on <a href="{{ site.phone.tel }}">{{ site.phone.display }}</a>.</p>
</div>
